[tasks."test:cfgx"]
description = "Test cfgx package"
run = "go test ./cfgx"


[tasks."test:all"]
description = "Test all the packages"
depends = ["test:cfgx"]


[tasks.gencfgx]
description = "Generate single file for cfgx"

